/* Background */

body {
    background: white;
    background-size: cover;
    background-position: center;
}

/* General Font */

p, li {
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
}

/* Top Nav Bar */

div.header {
    display:table;
    width:100%;
    table-layout: fixed;

    background-color: #3272a6;
    text-align: center;
    color: white;
}

div.header span {
    display:table-cell;
    border: none;
    padding: 16px 12px 12px 12px;
}

nav {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.panel {
    padding: 30px;
}

/* Boxes */

.roundcorner {
    border-radius: 25px;
    padding: 20px;
    margin: 15px 0px 15px 0px;
}

.boxlabel {
    text-align:center;
    padding: 75px 0px 75px 0px;
}

.boxlabel p {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}

/* Custom classes */

.dashboard {
    text-align: center;
    padding: 150px 30px 70px 30px;
}

.dashboardImage {
    width: 10%;
}

.challengeInactive {
    background: url(https://cdna.artstation.com/p/assets/images/images/018/718/696/large/drexis-animations-minecraftbg3.jpg?1560440192); background-size: cover; background-position: center; padding: 50px;
}

.challengeActive {
    background: url(https://static.planetminecraft.com/files/resource_media/screenshot/1231/2012-08-03_130652_3122159.jpg); background-size: cover; background-position: center; padding: 50px;
}

.challengeText {
    font-family: 'Work Sans', sans-serif; color: white;
}

.codeInterface {
    background: #2e2e2e; background-size: cover; background-position: center; padding: 50px;
}

.log {
    margin-top: 30px;
    background: black; padding: 5px 15px 100px 15px; text-align: left;
}

.uploadMargin {
    margin-top: 30px;
}

.uploadBox {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
}

.uploadBoxDropzoneActive {
    color: darkred;
}

.uploadBoxDropzone {
    padding: 80px 0;
}